{% load static %}
<!doctype html>
<html>
<head>
    <title>TILT home</title>
    <meta name="home" content="Home page TILT project" />
    <link rel='stylesheet' href = "{% static 'home.css' %}" />
</head>

<body>
	<nav id="navigation">
    	<h1> TILT </h1>
    	<form>
			<textarea name="illnessName" class="input" placeholder="Enter illness name or symptoms."></textarea>
    		<input type="submit" name="submit" value="Search" />
    	</form>
    </nav>
    <div id="container">
    	<div id="results">
	    	<p>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Venenatis tellus in metus vulputate. Eget mi proin sed libero enim sed faucibus turpis. Libero enim sed faucibus turpis in eu mi bibendum. Nibh cras pulvinar mattis nunc sed. Urna cursus eget nunc scelerisque viverra mauris in aliquam sem. Ultrices tincidunt arcu non sodales neque sodales ut. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Feugiat sed lectus vestibulum mattis. Fringilla phasellus faucibus scelerisque eleifend donec. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Sit amet est placerat in egestas erat imperdiet sed. Gravida in fermentum et sollicitudin ac orci. Maecenas sed enim ut sem viverra aliquet. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque.
	    	</p>
	    	<p>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Venenatis tellus in metus vulputate. Eget mi proin sed libero enim sed faucibus turpis. Libero enim sed faucibus turpis in eu mi bibendum. Nibh cras pulvinar mattis nunc sed. Urna cursus eget nunc scelerisque viverra mauris in aliquam sem. Ultrices tincidunt arcu non sodales neque sodales ut. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Feugiat sed lectus vestibulum mattis. Fringilla phasellus faucibus scelerisque eleifend donec. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Sit amet est placerat in egestas erat imperdiet sed. Gravida in fermentum et sollicitudin ac orci. Maecenas sed enim ut sem viverra aliquet. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque.
	    	</p>
    	</div>
    </div>
</body>
</html>
