{% load static %}
<!doctype html>
<html>
<head>
	<meta charset='utf-8'>	
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TILT home</title>
    <meta name="home" content="Home page TILT project" />
    <link rel='stylesheet' href = "{% static 'home.css' %}" />
</head>

<body>
	<div id="box">
		<div id="head">
	        <img src="{% static 'logo.png' %}" />
	        <p id="login">Docteur : Monsieur Charles DUPONT</p>
		</div>
		<h1 id="title">TILT</h1>
        <nav>
            <form method="POST" id="navigation">
				{% csrf_token %}
                <textarea name="illnessName" class="input" placeholder="Enter illness symptoms."></textarea>
                <input type="submit" name="submit" value="Rechercher" class="linear-gradient"/>
            </form>
        </nav>
    </div>
    <div id="container">
		{% for i in list%}
		<div id="results">
			<p class="illnessName">
				{{i.name}}
			</p>
			<p class="illnessSymptoms">
				Symptomes : {{i.symptoms}}
			</p>
			<p class="illnessDescription">
				Description : {{i.description}}
			</p>
			{% if i.more != ''%}
			<p class="illnessMore">
				{{i.more}}
			</p>
			{% endif %}
		</div>
		{% endfor %}
    </div>
	{% if list != null %}
	<p id="symptomes">
		Est-ce que votre patient à les symptômes suivants : Reflet pupillaire blanchâtre<br/><br/>
		Vous trouverez le centre de référence à l'adresse suivante : 123 fakeIt 69000
	</p>
	{% endif %}
	<footer>
      <p>Author: Tilt Web Designer <a href="mailto:hege@example.com">hege@example.com</a></p>
    </footer>
</body>
</html>
